<div class="top-nav bg-maroon text-white">


  <ul class="menu">
    <li><a routerLink="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
    <li><a routerLink="/home"><i class="fas fa-home"></i> Home</a></li>
    <li><a routerLink="/op"><i class="fas fa-user-md"></i> OP</a></li>
    <li><a routerLink="/patients"><i class="fas fa-procedures"></i> Patients</a></li>
    <li><a routerLink="/staff"><i class="fas fa-users"></i> Doctors</a></li>
  </ul>

  <button class="btn btn-danger logout-btn">Logout</button>
</div>

<div class="content p-4">
  <router-outlet></router-outlet>
</div>