
.top-nav {
  width: 100%;
  height: 60px;
  background-color: #800000;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}


.top-nav .logo {
  margin: 0;
  margin-right: 30px;
  white-space: nowrap;
}


.top-nav .menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  flex-grow: 1; 
}

.top-nav .menu li a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background 0.3s;
}

.top-nav .menu li a:hover {
  background-color: #b22222;
}


.logout-btn {
  border-radius: 4px;
}


.content {
  margin-top: 70px;
}
